:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter", bold;
    --fonte-secundaria: "Inter", serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("_imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% ;
}

.conteiner_principal_h1 {
    font-family: var(--fonte-principal);
}



.conteiner_botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
}

.conteiner_botao_2 {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    padding: 1em;
    color: var(--cinza-secundario);
    display: block;
    text-align: center;
}