:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', bold;
    --fonte-secundaria: "Inter", serif;
    --botao-azul-efeito: #81b9ff;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("_imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner_principal_titulo {
    font-size: 26px;
    font-weight: 700;
    font-family: var(--fonte-principal);
}



.conteiner_botao {
    background-color: var(--botao-azul);
    border-radius: 2px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
}

.conteiner_botao_2 {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    padding: 1em;
    color: var(--cinza-secundario);
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
}

.conteiner_aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.conteiner_principal_logo {
    margin: 1em 0 2em 0;
}

.conteiner_caixa {
    margin: 0 6em;
}

.secundario_imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo {
    font-weight: 700;
    font-size: 45px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao_texto {
    color: var(--cinza-secundario);
}

.terciario {
    align-items: center;
    margin: 1em 10em;
}

.terciario_imagem {
    width: 80%;
    padding: 10%;
}

.descricao_texto_terciario {
    color: var(--cinza-secundario);
}

.terciario_botao {
    background-color: var(--botao-azul);
    display: inline-block;
    border-radius: 6px;
    padding: 1em;
    color: var(--branco-principal);
    text-align: center;
    text-decoration: none;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.dispositivos_titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista_item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    margin:5em 3em;
    text-align: center;
}

.rodape_lista {
    display: flex;
    list-style-type: none;
    margin-top:1em;
    justify-content: center;
}

.lista_link {
   text-decoration: none;
   color: var(--branco-principal);
   margin-left: 1em;
}


.rodape_texto {
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 1em 0;
}

.lista_link a:hover {
    color: var(--botao-azul);
}

.lista_link a:active {
    color: purple;
}

.conteiner_botao:hover {
    background-color: var(--botao-azul-efeito) ;
    color: var(--cor-de-fundo);
}